# ---- R / RStudio ----
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Rproj.user/

# knitr / rmarkdown caches
*_cache/
cache/
*.utf8.md
*.knit.md

# renv: ignore library but keep lockfile
renv/library/
renv/staging/

# Quarto render folders
*_files/
.quarto/

# Data: ignore heavy/raw by default
data/raw/*
!data/raw/README.md
data/processed/*
!data/processed/README.md

# Outputs
outputs/*
!outputs/README.md
!outputs/figures/

# OS cruft
.DS_Store
Thumbs.db